<%- include('partials/header'); -%>



<h1>Home <a href="/compose"><button type="submit" class="compose-button btn-primary btn" name="button"><i class="fas fa-pen-nib"></i> Compose</button></a> </h1>
<p><%=startingContent %></p>
<p><%=homeSecondParagraph %></p>


<% for (var i = posts.length-1; i >= 0; i--) { %>
  <div style="clear: both">
    <h2 id="heading-2" style="float: left"><%= posts[i].title %></h2>
     <% var date  = new Date(posts[i].date); %>
     <% date = date.toDateString().split(' ').slice(1).join(' ') ; %>
    <h2 id="heaing-1" style="float: right"><%= date %></h2>
  </div>
<div class="item">
  <br><br><br><br>
  <p><%= posts[i].content.substring(0,400)+" ..."%> <a href="/posts/<%=posts[i]._id%>"> Read More</a></p>

</div>
<% } %>




<%- include('partials/footer'); -%>
